[submodule "rp2040/pico-examples"]
	path = rp2040/pico-examples
	url = https://github.com/raspberrypi/pico-examples.git
	ignore = dirty
	branch = master
[submodule "rp2040/pico-extras"]
	path = rp2040/pico-extras
	url = https://github.com/raspberrypi/pico-extras.git
	ignore = dirty
	branch = master
[submodule "rp2040/pico-playground"]
	path = rp2040/pico-playground
	url = https://github.com/raspberrypi/pico-playground.git
	ignore = dirty
	branch = master
[submodule "rp2040/pico-sdk"]
	path = rp2040/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
	ignore = dirty
	branch = master
[submodule "rp2040/picodebug"]
	path = rp2040/picodebug
	url = https://github.com/raspberrypi/openocd.git
	ignore = dirty
	branch = rp2040
[submodule "rp2040/picoprobe"]
	path = rp2040/picoprobe
	url = https://github.com/raspberrypi/picoprobe.git
	ignore = dirty
	branch = master
[submodule "rp2040/picotool"]
	path = rp2040/picotool
	url = https://github.com/raspberrypi/picotool.git
	ignore = dirty
	branch = master