[submodule "pico-examples"]
	path = pico-examples
	url = https://github.com/raspberrypi/pico-examples.git
[submodule "pico-playground"]
	path = pico-playground
	url = https://github.com/raspberrypi/pico-playground.git